{
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": "usage"
			}
		],
		"@babel/preset-react",
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"import",
			{
				"libraryName": "antd",
				"style": true
			}
		],
		[
			"@babel/plugin-proposal-decorators",
			{
				"decoratorsBeforeExport": true
			}
		],
		[
			"@babel/plugin-proposal-class-properties",
			{
				"loose": true
			}
		],
		"@babel/plugin-syntax-dynamic-import",
		[
			"babel-plugin-styled-components",
			{
				"displayName": true,
				"fileName": true,
				"pure": true,
				"minify": true
			}
		]
	]
}
